= form_for [:admin, @university, @faculty, @specialty, @group, @timetable] do |s|
	= hidden_field_tag :group_id, @group.id
	= s.select(:current_timetable, ["Current timetable for #{@group.title}"], {}, {:class => "form-control"})
	= s.submit :class => "btn btn-default select-btn-default"