%h1 New timetable

= form_for [:admin, @university, @faculty, @specialty, @group, @timetable] do |s|
	= hidden_field_tag :group_id, @group.id
	= s.label "Add timetable"
	= s.select :current_timetable, options_for_select: ['current_timetable']
	= s.submit