.container
  .row
    .col-md-11
      %h1.text-center.heading-font
        = @timetable.current_timetable
      = link_to({:controller => :courses, :action => :new, :timetable_id => @timetable.id, :group_id => @group.id, :specialty_id => @specialty.id, :faculty_id => @faculty.id, :university_id => @university.id}, :method => :get, :class => "icon-left add-button") do
        %span
          Add course
      %hr
      - @timetable.courses.sort{|l,r| l.day <=> r.day}.group_by{|c| c.day}.each do |day, courses|
        .panel.panel-default.grid
          .panel-heading.course-heading-font
            %b
              = Course.working_days.keys[day]   
          %table.table.table-condensed
            %thead
              %tr
                %th
                  Course title
                %th
                  Starting hour
                %th
                  Ending hour
                %th
                  Room number
                %th
                  Lesson type
                %th
                  Teacher's name
                %th
            %tbody
              - courses.sort{|l,r| l.start_time <=> r.start_time}.each do |c|
                %tr
                  %td
                    = c.title
                  %td
                    = Course.course_starting_hours.keys[c.start_time]
                  %td
                    = Course.course_ending_hours.keys[c.end_time]
                  %td
                    = c.room_num
                  %td 
                    = c.type_lesson
                  %td 
                    = c.teacher_name
                  %td 
                    = link_to'',{:controller => :courses, :action => :edit, :id => c.id, :timetable_id => c.timetable.id, :group_id => c.timetable.group.id, :specialty_id => c.timetable.group.specialty.id, :faculty_id => c.timetable.group.specialty.faculty.id, :university_id => c.timetable.group.specialty.faculty.university.id}, :method => :get, :class => "icon-left edit-button" 
                  %td  
                    = link_to'',{:controller => :courses, :action => :destroy, :id => c.id, :timetable_id => c.timetable.id, :group_id => c.timetable.group.id, :specialty_id => c.timetable.group.specialty.id, :faculty_id => c.timetable.group.specialty.faculty.id, :university_id => c.timetable.group.specialty.faculty.university.id}, :method => :delete, :class => "icon-left delete-button"
                    
                    
              

