%i#toggle.icon-align-justify.icon-large

%ul#dock
  %li.launcher
    %i.icon-building
    = link_to 'Universities', admin_universities_path
  %li.launcher
    %i.icon-user
    = link_to 'Teachers', admin_teachers_path
  %li.launcher
    %i.icon-sitemap
    = link_to 'Faculties', admin_faculties_path
  %li.launcher
    %i.icon-th
    = link_to 'Specialties', admin_specialties_path
  %li.launcher
    %i.icon-group
    = link_to 'Groups', admin_groups_path
  / %li.launcher
  /   %i.icon-group
  /   = link_to 'Courses', admin_courses_path
  / %li.launcher.dropdown.hover
  /   %i.icon-flag
  /   %a{href: '#'} Reports
  /   %ul.dropdown-menu
  /     %li.dropdown-header Launcher description
  /     %li
  /       %a{:href => '#'} Action
  /     %li
  /       %a{:href => '#'} Another action
  /     %li
  /       %a{:href => '#'} Something else here
  
  / %li.launcher
  /   %i.icon-cloud
  /   %a{href: '#'} Backup
  / %li.launcher
  /   %i.icon-bug
  /   %a{href: '#'} Feedback

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}