.container
  .row
    .col-md-12
      %h2.text-center.heading-font
        Check today's timetable
      = link_to(scholar_timetables_path, :class => "icon-left timetable-button") do
        %span
          %b
            Weekly timetable
      %hr
      - @courses.sort{|l,r| l.day <=> r.day}.group_by{|c| c.day}.each do |day, courses|
        - if Time.now.strftime("%A") == Course.working_days.keys[day]
          %h3.text-center.heading-font
            = Course.working_days.keys[day]
          %table.table.table-condensed.heading-font.heading-font-table
            %thead
              %tr
                %th
                  Course title
                %th
                  Starting hour
                %th
                  Ending hour
                %th
                  Room number
                %th
                  Lesson type
                %th
                  Teacher's name
                / %th
                /   Group
                / %th
                /   Faculty
                %th
            %tbody
              - courses.sort{|l,r| l.start_time <=> r.start_time}.each do |c|
                %tr
                  %td
                    %b
                      = c.title
                  %td
                    = Course.course_starting_hours.keys[c.start_time]
                  %td
                    = Course.course_ending_hours.keys[c.end_time]
                  %td
                    = c.room_num
                  %td
                    = c.type_lesson
                  %td
                    = c.teacher_name
                  %td
                  /   = c.group.title
                  / %td
                  /   = c.group.specialty.faculty.title
                  / %td
                
              


/ # = link_to 'Go to profile', scholar_profile_path(current_scholar), :method => :get