%h3 Weekly timetable
- @courses.sort{|l,r| l.day <=> r.day}.group_by{|c| c.day}.each do |day, courses|
	%h3 
		= Course.working_days.keys[day]
	- courses.sort{|l,r| l.start_time <=> r.start_time}.each do |c|
		%b
			= c.title
		%br
		= Course.course_starting_hours.keys[c.start_time]
		%br
		= Course.course_ending_hours.keys[c.end_time]
		%br
		= c.room_num
		%br
		= c.type_lesson
		%br
		= c.teacher_name
		%br
		= c.semester.group.title
		%br
		= c.semester.sem_number
		%br
		= c.semester.group.specialty.faculty.title
		%br
		%br

