.container
  .col-md-9.col-md-offset-1
    .row
      %h1.text-center.heading-font
        = @group.title
      - if not @group.timetable
        .col-md-6
          = link_to({:controller => :timetables, :action => :new, :group_id => @group.id, :specialty_id => @group.specialty.id, :faculty_id => @group.specialty.faculty.id, :university_id => @group.specialty.faculty.university.id}, :method => :get, :remote => true, :class => "icon-left add-button") do
            %span
              Add timetable
          #new-timetable
    %hr
      - if @group.timetable
        %ul.action-block
          .col-md-6
            %li
              %b 
                = link_to @group.timetable.current_timetable, {:controller => :timetables, :action => :show, :id => @group.timetable.id, :group_id => @group.timetable.group.id, :specialty_id => @group.timetable.group.specialty.id, :faculty_id => @group.timetable.group.specialty.faculty.id, :university_id => @group.timetable.group.specialty.faculty.university.id}, :method =>:get
          .col-md-3
            %li
              = link_to({:controller => :timetables, :action => :edit, :id => @group.timetable.id, :group_id => @group.timetable.group.id, :specialty_id => @group.timetable.group.specialty.id, :faculty_id => @group.timetable.group.specialty.faculty.id, :university_id => @group.timetable.group.specialty.faculty.university.id}, :method => :get, :remote => true, :class => "icon-left edit-button") do
                %span
                  Edit timetable
              .edit-timetable{:id => "edit-timetable-#{@group.timetable.id}"} 
          .col-md-3
            %li
              = link_to({:controller => :timetables, :action => :destroy, :id => @group.timetable.id, :group_id => @group.timetable.group.id, :specialty_id => @group.timetable.group.specialty.id, :faculty_id => @group.timetable.group.specialty.faculty.id, :university_id => @group.timetable.group.specialty.faculty.university.id}, :method => :delete, :class => "icon-left delete-button") do
                %span
                  Delete timetable
        %hr
          
  
    