%h1
	= @group.title
= link_to 'Add semester', {:controller => :semesters, :action => :new, :group_id => @group.id, :specialty_id => @specialty.id, :faculty_id => @faculty.id, :university_id => @university.id}, :method => :get
%hr
- @group.semesters.each do |s|
	%b
	= link_to s.sem_number, {:controller => :semesters, :action => :show, :id => s.id, :group_id => s.group.id, :specialty_id => s.group.specialty.id, :faculty_id => s.group.specialty.faculty.id, :university_id => s.group.specialty.faculty.university.id}, :method =>:get
	%br
	= link_to 'Delete semester', {:controller => :semesters, :action => :destroy, :id => s.id, :group_id => s.group.id, :specialty_id => s.group.specialty.id, :faculty_id => s.group.specialty.faculty.id, :university_id => s.group.specialty.faculty.university.id}, :method => :delete
	%br
	= link_to 'Edit semester', {:controller => :semesters, :action => :edit, :id => s.id, :group_id => s.group.id, :specialty_id => s.group.specialty.id, :faculty_id => s.group.specialty.faculty.id, :university_id => s.group.specialty.faculty.university.id}, :method => :get 
	%hr
	
		