.container
	.row
		.col-md-8.col-md-offset-2
			.panel.panel-default
				.panel-heading
					.icon-edit.icon-large
					Add new course
				.panel-body
					.form-horizontal
						%fieldset
							%legend
								Default inputs
							= form_for [:admin, @university, @faculty, @specialty, @group, @timetable, @course] do |c|
								.form-group
									.col-lg-2.control-label
										Title
									.col-lg-10
										= c.text_field :title, {:class => "form-control"}
								.form-group
									.col-lg-2.control-label
										Starting time
									.col-lg-10
										= c.select :start_time, options_for_select(Course.course_starting_hours)
								.form-group
									.col-lg-2.control-label
										Room number
									.col-lg-10
										= c.select :room_num, options_for_select: [100,101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
								.form-group
									.col-lg-2.control-label
										Lesson type
									.col-lg-10
										= c.select :type_lesson, options_for_select: ['assignment', 'exam', 'lab', 'class']
								.form-group
									.col-lg-2.control-label
										Teacher name
									.col-lg-10
										= c.select :teacher_name, options_from_collection_for_select(Teacher.all, 'name', 'name')
								.form-group
									.col-lg-2.control-label
										Day
									.col-lg-10
										= c.select :day, options_for_select(Course.working_days)
								.form-actions
									= c.submit :class => "btn btn-default"

